body {
    background-color: #121212;
}

.card-link {
    text-decoration: none;
    color: inherit;
    display: block;
    transition: transform 0.2s ease-in-out;
}

.card-link:hover {
    transform: translateY(-5px);
}

#crypto-table tbody tr {
    cursor: pointer;
}
